*{
    margin: 0px;
    padding: 0px;
    font-family: "roboto", sans-serif;
}

/*welcome to web solution section*/

.contain_1{
    background-image: url("img1.jpeg");
    height: 60vh;
    background-size: cover;
    background-position: center;
}

.contain_1 h1{
    color: white;
    text-align: center;
    padding: 60px;
}

.contain_1 p{
    color: white;
    text-align: center;
}

.contain_1 button{
    background-color: black;
    color: white;
    height: 50px;
    width: 100px;
    font-weight: bold;
}

/*web & app dev section*/

.contain_2{
    background-color: rgb(218, 216, 216);
    height: 35vh;
}

.contain_2 header{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 45px;
}

.two-parts{
  display: flex;
  padding: 25px 150px;
}

.part{
  width: 50%;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.2px;
  padding: 20px;
}


/*web mobile tech section*/

.contain_3 {
    max-width: 100%;
    background-color:rgb(88, 88, 88);
    color: white;
  }

  .contain_3a {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 200px;
  }

  .part1 {
    padding: 10px;
  }
  .part1 img {
    width: 45vh;
    display: block;
  }
  .part1a {
    background-color: white;
    word-wrap: break-word;
    width: 45vh;
    height: 80vh;
  }

  .card-text {
    padding: 60px;
  }

  .part1a h1 {
    color:black;
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: 10px;
  }

  .part1a p {
    color: black;
    text-align: center;
    padding: 25px;
    
  }

/*we handle section*/

.contain_4{
    background-color: white;
    height: 30vh;
}

.contain_4 header{
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 45px;
}

.contain_4 p{
    text-align: center;
}

/*contact and about*/

.contain_5{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact{
    text-align: center;
    width: 115vh;
    height: 40vh;
    background-color: rgb(70, 92, 187);
}

.contact h2{
    padding: 50px;
    color: white;
}

.contact p{
    color: white;
}

.gmail{
    padding: 30px;
}


.about{
    background-color: rgb(88, 88, 88);
    text-align: center;
    width: 115vh;
    height: 40vh;
}

.about h2{
    padding: 50px;
    color: rgb(255, 255, 255);
}

.about p{
    color: rgb(255, 255, 255);
}

/*web solution and product by section*/

.contain_6{
    display: flex;
    background-color: black;
}

.WB{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    width: 115vh;
    padding: 40px;    
}

.PB {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    width: 115vh;
    padding: 35px;
}

.blue{
    color: blue;
}

/*Responsive 500px*/

@media screen and (max-width:500px) {

    /*web & app dev s*/

    .contain_2 header{
        text-align: center;
    }

    .two-parts{
        display: flex;
        padding: 1vh;
        text-align: center;
    }
    .part{
        width: 50%;
        font-size: 13px;
        padding: 1vh;
        text-align: center;
    }

    /*web mobile tech */

    .contain_3{
        height: 260vh;
    }

    .contain_3a{
        flex-direction: column;
        padding: 3vh;
    }
    .part1a{
        width: 450px;
    }
    .part1a img{
        width: 450px;
    }

    .card-text h1{
        font-size: 25px;
    }
    .card-text p{
        font-size: 20px;
        padding: 10px;
    }



    /*handle */

.contain_4{
    height: 30vh;
}

.contain_4 header{
    font-size: 15px;
    text-align: center;
    padding: 35px;
}

    /*contact and about*/

.contain_5{
    flex-direction: column;
    text-align: center;
}

.contact{
    text-align: center;
    width: 73vh;
    height: 40vh;
}

.contact h2{
    padding: 30px;
}

.contact p{
    padding: 30px;
}

.gmail{
    padding: 30px;
}

.about{
    text-align: center;
    width: 73vh;
    height: 40vh;
}

.about h2{
    padding: 30px;
}

.about p{
padding: 30px;
}

/*web solution and product by*/

.contain_6{
    flex-direction: column;
    width: 73vh;
}

.WB{
    text-align: center;
    width: 44vh;
    padding: 100px;
}

.PB {
    text-align: center;
    width: 44vh;
    padding: 100px;
}







}
